@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-serif: "NotoSerif", ui-serif, Georgia, serif;
  --font-mono: "SourceCodePro", ui-monospace, monospace;
};

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
};

@font-face {
  font-family: 'NotoSerif';
  src: url('/assets/fonts/noto-serif/NotoSerif-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
};

@font-face {
  font-family: 'SourceCodePro';
  src: url('/assets/fonts/source-code-pro/SourceCodePro-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
};

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));